<!-- this will display each movie with hash results from obdb -->


<div class="transparentdiv row">
<div class="row">
  <br />
  <div class="col-xs-10 col-xs-offset-1">
    <h4 align=left><%= @movie['Title'] %></h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-1">
  	<h5 align=left>Released <%= @movie['Year']%>&nbsp;&nbsp;|&nbsp;&nbsp;Rated <%= @movie['Rated'] %></h5>
  </div>
  
</div>



<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <p class="lead para"><%= @movie['Plot'] %> </p>
  </div>
  <br />
  <br />

</div>
</div>
<!-- This MovieImage will float left -->
<!-- Then, when mobile, this will sit under the TitlePlot div -->
<!-- find large size, then constrain it appropriately -->
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
  <br />
  <img class="img-responsive" alt="movie pic" src="<%= @movie['Poster'] %>" />
  <br />
</div>

<br />
<br />


<div class="transparentdiv col-xs-12 col-sm-6 col-md-6">
  <br />
  <br />
  <p align=right>Directed By: <%= @movie['Director'] %></p>
  <p align=right><%= @movie['Runtime'] %> of awesome</p>
  <p align=right>Genre:&nbsp;<%= @movie['Genre'] %></p>
  <p align=right>Starring: <%= @movie['Actors'] %></p>
  <p align=right>For more info, visit<a href="http://www.imdb.com/title/<%=@movie['imdbID'] %>"> imbd </a></p> 
  <br />
 
</div>

</div>
